footer {
  background-color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
a {
  color: var(--primary-color);
  font-weight: bold;
}
a:hover {
  color: var(--background-color);
}
@media (max-width: 576px) {
  footer {
    background-color: var(--text-color);
    height: 30px;
    font-size: 12px;
  }
}
